


#club-logo{
  height : 108px;

  margin-bottom: 3px; 
}
.socialmedia{
    border-bottom:  2px solid red;
}

.nav-bar{
    height: 180px;
     
    background-image:url("Faded%20Amer%20Flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

#fb-logo{
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 80px;
    padding-bottom: 8px;
}
h1{

    color: black;
    font-weight: 600;
}

h4{
    font-weight: bold;
}
h2{
    text-align: center;
    color: black;
    font-weight: 600;
}

#info-links li{ 
    position:relative;
    display: inline;
  overflow:auto;
    float: right;
    padding-top: 12px;
   padding-bottom: 12px;
   margin-right: 60px;    
}
 #about-link, #contact-link{
  
     color: red;
    font-weight: 600;
}
#about-link{
  overflow:auto;
     
}
#repub-women{
	align:left;
	width: 300px;
    height: auto;
    margin-left: 200px;
}
#club-name{
	display:inline;
	position:relative;
	bottom: 10px;
}
.club-heading{
    border: 2px solid red;
  
    width: 960px;
    margin-left: 30px;
    background-color: 
}

.club-info{
   padding-left: 625px; 
}
#info-links li a{
  color:red;
	font-weight: bold;  
}

h3.club-statement{
    text-align: center;
}

.imgframe{
    background:#fff8dc,
    padding: 12px;
    border: 10px solid #999999;
}


article,aside{
    display:block;
}
aside h5{
   font-family: 'Merriweather', serif;
	font-weight: 550;
    margin-left: 38px;
}
section article{
    width: 85%;
    float:right;
    -webkit-column-count: 2;
    -webkit-column-gap: em;
    -moz-column-count: 2;
    -moz-column-gap: em;
}


#club-verbiage, h3{
	font-family: 'Merriweather', serif;
	font-weight: 550;
	line-height: 170%;
	

}

#twitter-feed{
    position: relative;
    margin-top: 100%;
    bottom: 0;
    float:left;
    padding: 8px;
   
}

.form-group{
    padding: 1px;
}

#meeting-place{
    position:relative;
    margin-top: 100%; 
    float:left ;
   
    
}

#contact-modal{
    width: 600px;
    height: 550px;
}
#contact-dismiss{
    padding-left: 60px;
}