body { 
     
       background-image: url(Red-watercolor-background-free-seamless-texture.jpg);
     
}


#club-logo{
  height : 75px;
  padding-bottom: 12px; 
}
.navbar-header{
    height: 92px;
}
h1{

    color: black;
    font-weight: 600;
}

h4{
    font-weight: bold;
}
h2{
    text-align: center;
    color: black;
    font-weight: 600;
}

#info-links li{ 
    position:relative;
    display: inline;
  overflow:auto;
    float: right;
    padding-top: 12px;
   padding-bottom: 12px;
}
 #about-link, #contact-link{
  
     color: red;
    font-weight: 600;
}
#about-link{
  overflow:auto;
     
}
#repub-women{
	align:left;
	width: 300px;
    height: auto;
    margin-left: 200px;
}
#club-name{
	display:inline;
	position:relative;
	bottom: 10px;
}
.club-heading{
    border: 2px solid red;
  
    width: 960px;
    margin-left: 30px;
    background-color: 
}

.club-info{
   padding-left: 625px; 
}
#info-links li a{
  color:red;
	font-weight: bold;  
}

h3.club-statement{
    text-align: center;
}

.imgframe{
    background:#fff8dc,
    padding: 12px;
    border: 10px solid #999999;
}

#pict01{
	position:relative;
	top: 34px;
	margin-left: 75px;
    margin-bottom: 72px;
}


.club-statement{
    width:380px;
    float:left;
    padding:10px;
    border: 3px solid black;
	border-style:groove;
	background-color: cornsilk;
    margin-left: 35px;
}
#club-verbiage, h3{
	font-family: 'Merriweather', serif;
	font-weight: 550;
	line-height: 170%;
	

}

.twitter-timeline{
    position:relative;
    top: 27px;
    float:right;
  margin-left: 15px;
}
.contact-modal{
     position: relative;
    
     float:right;
      width: 650px;
      height: 280px;
   border: 2px solid red;
border-radius: 5px;        
   padding: 55px 52px; 
    background-color: cornsilk;
    z-index: 4;
}
.form-group{
    padding: 1px;
}

.meetingplace-map{
    position:relative;
    float:right ;
    margin-left: 400px;
    margin-top: 34px;
    margin-right: 15px;
     margin-bottom: 48px;
}
#gmap-canvas{
    padding-top: 27px;
   border: 5px solid black;
}